__pycache__/
*.pyc
.venv/

.ipynb_checkpoints/
.DS_Store
*.pem
*.key
*.pub
.env
contest_2/structure_predictions/
contest_2/contest2_input_files/
contest_2/csv_files/
Proteinbase/new_plots_binders_boxplot/
Proteinbase/plots_binders/
Proteinbase/plots_binders_non_binders/
Proteinbase/plots_no_designM/
Proteinbase/csv_files/
